* {
    margin: 0;
    padding: 0;
}

header {
        height: 100vh; 
}

.header-pading-top {
    padding-top: 5em;
}
.header{
        display: flex;
        justify-content: center;
       
}
.header-photo-padding {
    padding-top: 2em;
}
.photo {
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
      border-radius: 50%;
      align-items: center
   }
   header:hover .photo {
     box-shadow:  0 0  5px #000;
   }
.info-text {
     color: #000;

   }
#date{
    display: none;
  }
.info-padding{
    padding-top: 4em;
    padding-left: 2em;
   }
.info-td {
    width: 120px;
  }
.header-link {
    display: flex;
    justify-content: center;
}
.header-link-padding{
        padding-top: 10em;
    }
.header-link-anchor-padding {
    padding: 0 1rem;
}

.btn_up {
    position: fixed;
    bottom: -50px;
    right: 100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #cff;
    background: #333;
    z-index: 100;
    outline: 0!important;
    transition: .4s;
}
.btn_up:hover {
    cursor: pointer;
}
.btn_up.active {
    bottom: 50px;
}
.btn_up:after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 2px solid #cff;
    border-left: 2px solid #cff;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.btn_for_scroll {
    position: fixed;
    left: 20px;
    z-index: 100;
    outline: 0!important; 
    cursor: pointer;
}
.circle-border-icon {
    border-radius: 50%;
}
.btn_skill_for_scroll-position{ 
    top: 40vh;
}   
.btn_exp_for_scroll-position{
    top: 50vh;
}    
.btn_courses_for_scroll-position{   
    top: 60vh; 

}


.border-top {
    position: absolute;
    border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
    border-style: solid;
    border-width: 80px 50vw 0 50vw;
    height: 0;
    width: 0;
}
.section-background-color{
    background-color: rgb(227, 228, 228);

}
.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-skills-padding {
    padding-top: 1rem;
}

.inner-section-align{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.inner-section-padding{
       padding-top: 6em;
       padding-bottom: 5em;
}
.section-padding {
    padding: 6rem 0;
}
.paragraph{
    text-transform: capitalize;
    padding: 0 10px;
    
}
section:hover .paragraph {
    text-shadow: 1px 1px 2px red;
}


.border-down {
    width: 0;
    height: 0;
    content: "";
    bottom: 80px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    border-left: 50vw solid #ffffff;
    border-right: 50vw solid #ffffff;
    border-top: 80px solid transparent;
}

.td-curses{
    width: 200px;
}
.courses-anchor{
    text-decoration: none;
    color: darkred

}
.courses-anchor:hover{
    color: rgb(20, 3, 94)
}
.table-curses-width{
    width: 360px;
}
.table-curses-padding{
    padding-top: 3rem;
}
.line{
    border: none;
    width: 100px;
    height: 2px;
}
.line-color{
     color:  aqua;
    background-color:  aqua;
}
.line-margin{
     margin: 10px 0;
}

.table-experience-width{
    width: 450px;
}
.table-experience-padding{
    padding: 20px;
}
.inner-td-padding{
    padding: 5px;
}
.align-job-discription{
    vertical-align: text-top;
}

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
  
}

.sprite-courses {
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
}

.sprite-experience {
    width: 50px;
    height: 50px;
    background-position: -5px -65px;
}

.sprite-skill {
    width: 50px;
    height: 50px;
    background-position: -5px -125px;
}
