* {
    margin: 0;
    padding: 0;
    }
body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
 background-image: url(../images/);
         background-repeat: no-repeat;
         -webkit-background-size: cover;
         background-size: cover; 


    }
header {
        height: 100vh; 
}



/* ліве меню  для скролінга */

.scroll_menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35px;
    background-color: rgb(202, 199, 199);
    z-index: 2;
}
.btn_for_scroll {
    position: fixed;
    left: 2px;
    z-index: 100;
    outline: 0!important; 
    cursor: pointer;
}

.btn_proof_for_scroll-position{ 
    top: 18%;
} 

.btn_skill_for_scroll-position{ 
    top: 40%;
}   
.btn_exp_for_scroll-position{
    top: 50%;
}    
.btn_courses_for_scroll-position{   
    top: 60%; 
}

.btn-prof{
    position: fixed;
    left: 5px;
    border: 1px solid ;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    box-shadow:  -4px 4px;
    background-color: white; 
    
}
.lines-profils{
    margin-top:9px;
    line-height: 0.1rem;
    margin-left: 2px;
}
.line-profils{
    margin: 0.125rem;
    border: none;
    width: 20px;
    height: 0.125rem;
}
.line-color-profils{
    background-color:  #000;
}


/* профілі з лівох сторони екрану  conact_items*/

.contact_items {
    display: none;
    position: fixed;
    top: 5%;
    left: 35px;
    bottom: 0;
    width: 35px;
    z-index: 2;
}

.header-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-place{
    padding-top: 5%;
}

.header-link-anchor-padding {
    margin: 0.5rem 0;
}
a {
    text-decoration: none;
    color: #000;
    
}






/* header фото + дані про мене  */

.header{
    display: flex;
    justify-content: center;
    margin-left: 50px;   
        
}
.header-pading-top {
    padding-top: 5em;
}

.header-photo-padding {
    padding-top: 2em;
}
.photo {
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
      border-radius: 50%;
      align-items: center;
      box-shadow:  0 0  5px #000;
   }

.info-padding{
    padding-top: 3em;
    padding-left: 1.8em;
   }
   
.info-text {
     color: #000;

   }

.info-td {
    width: 125px;
  }
.align-email {
    display: flex;
    justify-content: space-between;
    width: 200px;
   
}
.email-active {
    display: none;
}

.active2:hover .email-active {
display: inline;    
}


#date{
    display: none;
  }


/*  кнопка скрол вверх, розмыщена в лівому низу*/

.btn_up {
    position: fixed;
    bottom: -50px;
    left: 2.5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
    background: #000;
    z-index: 100;
    outline: 0!important;
    transition: .4s;
}
.btn_up:hover {
    cursor: pointer;
}
.btn_up.active {
    bottom: 50px;
}
.btn_up:after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.circle-border-icon {
    border-radius: 50%;
}

/* Оптимізація сторінки під розміри */


@media screen and (max-width:660px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center          
    }
  
}
@media screen and (max-width:460px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .header-screem-min {
        display: none;
    }
    
}



/* перша секція зі скілами */

.section-background-color{
    background-color: rgb(227, 228, 228);

}
/* компенсуємо бокові меню. */

.section-padding {
    padding: 3rem 5px 1rem 75px;
}
.inner-section-align{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.inner-section-padding{
       padding-bottom: 2em;
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph{
    text-transform: capitalize;
    padding: 0 10px;
    
}
.ul-skills-padding {
    padding-top: 1rem;

}


/* секція с опитом роботи */


.table-experience-width{
    width: 450px;
}
.table-experience-padding{
    padding: 20px;
}
.inner-td-padding{
    padding: 5px;
}
.align-job-discription{
    vertical-align: text-top;
}

@media screen and (max-width:600px) {
    .table-experience-width{
        width: 300px;
    }
}


/* секція з навчаннят (курси) */


.table-curses-width{
    width: 360px;
}

.table-curses-padding{
    padding-top: 3rem;
}

.td-curses{
    width: 200px;
}
.courses-anchor{
    text-decoration: none;
    color: darkred

}
.courses-anchor:hover{
    color: rgb(20, 3, 94)
}

@media screen and (max-width:600px) {
    .table-curses-width{
        width: 280px;
    }

    .td-curses{
        width: 140px;
    }
}


/* лінія між курсами для розподілу */

.line{
    border: none;
    width: 100px;
    height: 2px;
}
.line-color{

    background-color:  #000;
}
.line-margin{
     margin-top: 40px;
}


/* картинки які розміщуються поряд з скілами, опитом, курсами */

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    
  
}

.sprite-courses {
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
    border-radius: 50%;
}

.sprite-experience {
    width: 50px;
    height: 50px;
    background-position: -5px -65px;
}

.sprite-skill {
    width: 50px;
    height: 50px;
    background-position: -5px -125px;
}
