* {
    margin: 0;
    padding: 0;
    }
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
    }
header {
        height: 100vh; 
}



/* ліве меню  для скролінга */

.scroll_menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 55px;
    background-color: rgb(202, 199, 199);
    z-index: 2;
}
.btn_for_scroll {
    position: fixed;
    left: 2px;
    z-index: 100;
    outline: 0!important; 
    cursor: pointer;
}

.btn_skill_for_scroll-position{ 
    top: 40vh;
}   
.btn_exp_for_scroll-position{
    top: 50vh;
}    
.btn_courses_for_scroll-position{   
    top: 60vh; 

}

/* профілі з правої сторони екрану  conact_items*/

.contact_items {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 42px;
    background-color: rgb(202, 199, 199);
    z-index: 2;
}

.header-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-place{
    padding-top: 12vh;
}
p {
    color: #fff;
    text-shadow: 1.5px 1.5px 3px #000;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5px;
}
.header-link-anchor-padding {
    padding: 1rem 0;
}
a {
    text-decoration: none;
    color: #000;
    
}

/* header фото + дані про мене  */

.header{
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-right: 50px;        
        
}
.header-pading-top {
    padding-top: 5em;
}

.header-photo-padding {
    padding-top: 2em;
}
.photo {
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
      border-radius: 50%;
      align-items: center;
      box-shadow:  0 0  5px #000;
   }

.info-padding{
    padding-top: 3em;
    padding-left: 1.8em;
   }
   
.info-text {
     color: #000;

   }

.info-td {
    width: 125px;
  }
.align-email {
    display: flex;
    justify-content: space-between;
    width: 200px;
   
}
.email-active {
    display: none;
}

.active2:hover .email-active {
display: inline;    
}


#date{
    display: none;
  }


/*  кнопка скрол вверх */

.btn_up {
    position: fixed;
    bottom: -50px;
    right: 100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
    background: #000;
    z-index: 100;
    outline: 0!important;
    transition: .4s;
}
.btn_up:hover {
    cursor: pointer;
}
.btn_up.active {
    bottom: 50px;
}
.btn_up:after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.circle-border-icon {
    border-radius: 50%;
}

/* Оптимізація сторінки під розміри */


@media screen and (max-width:660px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center          
    }
  
}
@media screen and (max-width:460px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .header-screem-min {
        display: none;
    }
    
}




/* стрівка в низ на всю сторінку */

.border-top {
    position: absolute;
    border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
    border-style: solid;
    border-width: 80px 50vw 0 50vw;
    height: 0;
    width: 0;
}


/* перша секція зі скілами */

.section-background-color{
    background-color: rgb(227, 228, 228);

}
/* компенсуємо бокові меню. */

.section-padding {
    padding: 6rem 52px 1rem 75px;
}
.inner-section-align{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.inner-section-padding{
       padding-top: 6em;
       padding-bottom: 5em;
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph{
    text-transform: capitalize;
    padding: 0 10px;
    
}
.ul-skills-padding {
    padding-top: 1rem;

}


/* стрілка на всю сторінка */

.border-down {
    width: 0;
    height: 0;
    content: "";
    bottom: 80px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    border-left: 50vw solid #ffffff;
    border-right: 50vw solid #ffffff;
    border-top: 80px solid transparent;
}


/* секція с опитом роботи */


.table-experience-width{
    width: 450px;
}
.table-experience-padding{
    padding: 20px;
}
.inner-td-padding{
    padding: 5px;
}
.align-job-discription{
    vertical-align: text-top;
}

@media screen and (max-width:600px) {
    .table-experience-width{
        width: 300px;
    }
}


/* секція з навчаннят (курси) */


.table-curses-width{
    width: 360px;
}

.table-curses-padding{
    padding-top: 3rem;
}

.td-curses{
    width: 200px;
}
.courses-anchor{
    text-decoration: none;
    color: darkred

}
.courses-anchor:hover{
    color: rgb(20, 3, 94)
}

@media screen and (max-width:600px) {
    .table-curses-width{
        width: 280px;
    }

    .td-curses{
        width: 140px;
    }
}


/* лінія між курсами для розподілу */

.line{
    border: none;
    width: 100px;
    height: 2px;
}
.line-color{

    background-color:  #000;
}
.line-margin{
     margin-top: 40px;
}


/* картінки які розміщуються поряд з скілами, опито, курсами */

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    
  
}

.sprite-courses {
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
    border-radius: 50%;
}

.sprite-experience {
    width: 50px;
    height: 50px;
    background-position: -5px -65px;
}

.sprite-skill {
    width: 50px;
    height: 50px;
    background-position: -5px -125px;
}
